body {
  /* background-image: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  ); */
  font-family: system-ui;
  background-color: black;
}

.animated__button {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  color: hsl(320, 40%, 40%);
  /* border-radius: 15px; */
  border: 0.65px solid #4d3e88;
  background: linear-gradient(
    0deg,
    #1d172b -15.54%,
    #0d0718 12.46%,
    #040207 45.26%,
    #7438ff 226.56%
  );
  padding: 13.5px 34.5px 14.5px 35.5px;
  /* border: 1px solid var(--STROKEBOX, rgba(75, 64, 134, 0.41)); */
  /* border: 0.65px solid #4d3e88; */
  border: 0.75px solid var(--STROKEBOX, rgba(75, 64, 134, 0.41));
  border-radius: 1.5rem;
  color: var(--Main-Text, #d6d5f1);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.glow-effect {
  --glow-line-color: #4b4086;
  --glow-line-thickness: 1px;
  --glow-line-length: 20px;
  --glow-blur-color: #4b4086;
  --glow-blur-size: 5px;
  --glow-offset: 0px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  /* outline: 3px solid blue; */
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  /* rx: 1.25rem; */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
}
.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}

.inspiration {
  position: absolute;
  inset: auto 0 1.5rem;
  margin-inline: auto;
  text-align: center;
  font-size: 0.925rem;
  font-weight: 700;
  opacity: 0.75;
}

img {
  display: block;
  max-width: 100%;
}

.avatar {
  width: 18rem;
  border-radius: 50%;
}

.avatar img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: inherit;
}
