.about__container {
  width: 100%;
  height: auto;
  clear: both;
  padding: 3rem 0;
}

.about__MeContentContainer {
  display: flex;
  width: 100%;
}

.about__image {
  /* background-color: cadetblue !important; */
  border-radius: 50%;
}

.image__component {
  border-radius: 50%;
}

.about__header {
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
}

.about__headerSub {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.header__container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
}

.my__detailsContainer {
  /* background-color: palegreen; */
  max-width: 1250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  position: relative;
  clear: both;
}

.my__detailsContent {
  width: 100%;

  display: flex;
  align-items: center;
  position: relative;
}

.text__detail {
  position: relative;
  /* background-color: blue; */

  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 3%;
}
.text__detailAnimated {
  position: relative;
  /* background-color: blue; */
  width: 50%;
  top: 0%;
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease;
}

.my__name {
  display: inline-block;
  margin-bottom: 1.6rem;
  color: #02ffb7;
  /* font-family: Poppins; */
  font-weight: 500;
  font-size: 2rem;
}

.my__jobTitle {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.coverLetter__CTA {
  font-size: 1.5rem;
}

.container p {
  font-size: 2rem;
}

.my__location {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.experience {
  display: flex;
  align-items: center;
}

.experience__year {
  font-size: 4.5rem;
  margin-right: 1rem;
}

.experience p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.image__container {
  max-width: 65%;
  text-align: right;
  padding-left: 151px;
  position: relative;
  top: 0;
  margin-top: 4rem;
  /* background-color: greenyellow; */
  margin-bottom: 5rem;
}
.image__containerAnimated {
  margin-top: 4rem;
  margin-bottom: 5rem;
  /* background-color: greenyellow; */
  max-width: 65%;
  text-align: right;
  padding-left: 151px;
  position: relative;
  top: -20px;
  transition: all 0.4s ease;
}

.image__content {
  position: relative;
  display: flex;
  justify-content: center;
}

.image__contentAnimated {
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotate(7deg);
  transition: all 0.4s ease;
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 300rem;
  height: 450rem;
  background-size: cover;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 2;
  border-radius: 10px;
  /* background-color: red; */
}
.main__animated {
  /* background-color: red; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: rotate(7deg);
  z-index: 2;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.image__shape {
  position: absolute;
  top: 23px;
  bottom: -23px;
  left: -4.1rem;
  background-color: #02ffb7;
  z-index: 1;
  border-radius: 1rem;
  position: absolute;
  top: 23px;
  width: 90%;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.image__shapeRotate {
  position: absolute;
  top: 23px;
  bottom: -23px;
  left: -95px;
  background-color: #02ffb7;
  transform: rotate(-14deg);
  z-index: 1;
  opacity: 1;
  transform: rotate(-6deg);
  border-radius: 1rem;
  position: absolute;
  top: 23px;
  left: -9.1rem;
  width: 58%;
  transform: rotate(-13deg) !important;
  transition: all 0.4s ease;
}

.image {
  /* background-color: violet; */
  z-index: 2;
  width: 80%;
  border-radius: 1rem;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.image__rotate {
  /* background-color: violet; */
  transform: rotate(7deg);
  z-index: 2;
  width: 80%;
  border-radius: 1rem;
  opacity: 1;
  transition: all 0.4s ease;
}

.image > div {
  position: unset !important;
}

.image__component {
  object-fit: cover;
  width: 100%;
  position: relative !important;
  height: unset !important;
  border-radius: 1rem;
  scroll-behavior: fixed;
}

.second {
  height: 100%;
}

@media screen and (max-width: 48rem) /*768rem / 16 = 48rem */ {
  .my__detailsContent {
    flex-direction: column-reverse;
  }

  .image__shapeRotate {
    translate: rotate(0deg);
  }

  .text__detail {
    width: 100%;
  }

  .image__contentAnimated {
    position: relative;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    transition: all 0.4s ease;
  }

  .text__detailAnimated {
    width: 100%;
  }

  .main__animated {
    /* background-color: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 10px;
  }

  .image__shapeRotate {
    position: absolute;
    top: 23px;
    bottom: -23px;
    /* background-color: #ff4522; */

    z-index: 1;
    opacity: 1;
    transform: rotate(0deg);
    border-radius: 1rem;
    position: absolute;
    top: 23px;
    left: -4.1rem;
    width: 90%;
    transform: rotate(0deg) !important;
  }

  .image__rotate {
    /* background-color: violet; */
    transform: rotate(0deg);
    z-index: 2;
    width: 80%;
    border-radius: 1rem;
    opacity: 1;
  }

  .image__container {
    max-width: 100%;
    text-align: right;
    position: relative;
    top: 0;
    margin: 6rem 0;
    padding-left: 6.4rem;
    /* background-color: greenyellow; */
  }
  .image__containerAnimated {
    /* background-color: greenyellow; */
    max-width: 100%;
    text-align: right;
    padding-left: 8.3px;
    position: relative;
    top: -20px;
    margin: 6rem 0;
  }

  .text__detail {
    position: relative;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  .text__detailAnimated {
    padding: 2rem;
    position: relative;
    /* background-color: blue; */
    width: 100%;
    top: 0%;
    visibility: visible;
    opacity: 1;
  }
  .my__detailsContainer {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 32.6rem) {
  .image__container {
    padding-left: 8.53rem;
  }
  .my__detailsContainer {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 28.8rem) {
  .my__detailsContainer {
    padding: 4rem 1.5rem;
  }

  .image__container {
    padding-left: 0;
  }

  .image__shape {
    display: none;
  }
  .image__shapeRotate {
    display: none;
  }
}
