.contact__container {
  height: auto;
  background: #303134;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14rem;
}

.contact__subContainer {
  display: flex;
  /* background-color: turquoise; */
  width: 75%;
  height: 75%;
  padding: 5rem 5rem 14rem 5rem;
  /* margin-top: 5rem; */
}

.contact__details {
  /* background: gold; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 5rem 0; */
}

.contact__details p {
  /* color: var(--text-color); */
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  font-weight: 400;
}

.contact__instruction {
  margin-top: 2.5rem;
}

.contact__form__container {
  /* background: violet; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input__field {
  padding: 1.5rem;
  margin-top: 3rem;
  border-radius: 0.4rem;
  border: none;
}

.contact__form button {
  padding: 1.5rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.4rem;
  background-color: black;
  font-weight: 700;
  color: #02ffb7;
  cursor: pointer;
}

.contact__details h3 {
  position: relative;
  font-size: clamp(2rem, 4vw, 4rem);
  color: #252839;
  -webkit-text-stroke: 0.3vw #3f524b;
  text-transform: uppercase;
  width: fit-content;
  letter-spacing: 0.1rem;
}

.contact__infoBox {
  line-height: 4rem;
}

.contact__info {
  display: flex;
  line-height: 0.5rem;
}

.contact__info:not(:first-child) {
  margin-top: 2.35rem;
}
.svg__styling {
  width: 2rem;
  fill: #02ffb7;
  margin-right: 3rem;
}

.contact__infoText {
  font-size: 2rem;
}
.contact__details span {
  font-size: 1.8rem;
}

.contact__details .animated__class::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #02ffb7;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 0px solid #02ffb7;
  overflow: hidden;
  font-size: clamp(2rem, 4vw, 4rem);

  text-transform: uppercase;
  animation: var(--text-animation) 3s;

  /* animation-iteration-count: 1; */
}

@media screen and (max-width: 65rem) /* 1040/16 = 65rem */ {
  .contact__container {
    height: fit-content;
  }
  .contact__subContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 3rem;
  }

  .contact__details {
    width: 100%;
  }

  .contact__form__container {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }

  .svg__styling {
    width: 1.5rem;
    fill: #02ffb7;
    margin-right: 1rem;
  }

  .contact__details p {
    font-size: 1.4rem;
  }

  .contact__details span {
    font-size: 1.4rem;
  }
}
