.contact__container {
  height: 100vh;
  background: #303134;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__subContainer {
  display: flex;
  background-color: turquoise;
  width: 75%;
  height: 75%;
  padding: 5rem 0;
  /* margin-top: 5rem; */
}

.contact__details {
  background: gold;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 5rem 0; */
}

.contact__details p {
  /* color: var(--text-color); */
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  font-weight: 400;
}

.contact__instruction {
  margin-top: 2.5rem;
}

.contact__form__container {
  background: violet;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input__field {
  padding: 1.5rem;
  margin-top: 3rem;
  border-radius: 0.4rem;
}

.contact__form button {
  padding: 1.5rem;
  margin-top: 3rem;
}

.contact__details h3 {
  font-size: 3rem;
}

.contact__infoBox {
  line-height: 4rem;
}

.contact__info {
  display: flex;
  line-height: 0.5rem;
}

.contact__info:not(:first-child) {
  margin-top: 2.35rem;
}
.svg__styling {
  width: 2rem;
  fill: green;
}

.contact__infoText {
  font-size: 2rem !important;
}
.contact__details span {
  font-size: 1.8rem;
}

@media screen and (max-width: 65rem) /* 1040/16 = 65rem */ {
  .contact__container {
    height: fit-content;
  }
  .contact__subContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 3rem;
  }

  .contact__details {
    width: 100%;
  }

  .contact__form__container {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }
}
