.featured__container {
  height: 100vh;
  display: flex;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.featuredWork__contentBox {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 75%;
}

.featuredWork__contentBox h1 {
  position: relative;
  font-size: clamp(2rem, 4vw, 4rem);
  color: #252839;
  -webkit-text-stroke: 0.3vw #3f524b;
  text-transform: uppercase;
  width: fit-content;
  letter-spacing: 0.1rem;
}

.featuredWork__contentBox .animated__class::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #02ffb7;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #02ffb7;
  overflow: hidden;
  font-size: clamp(2rem, 4vw, 4rem);

  text-transform: uppercase;
  animation: var(--text-animation) 2s linear;
}
.featured__container__text {
  font-size: 2rem;
}

.workDisplay__component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90%;
  width: 100%;
  /*  background-color: chartreuse;
  /* position: relative; */
}

@media screen and (max-width: 63.75rem) {
  .featured__container {
    height: fit-content;
  }

  .featured__container__text {
    font-size: 1.3rem;
  }
}
