.footer__container {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;

  padding: 4rem 0;
}
