:root {
  --bg: #242526;
  --bg2: #060606;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 8rem;
  --text-color: #a7afbd;
  --border: 0.1rem solid #474a4d;
  --border-radius: 0.8rem;
  --speed: 500ms;
  --text-animation: text-fill;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: #303134;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@keyframes text-fill {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/*Vertical Timeline Global Styles*/

.vertical-timeline--two-columns .vertical-timeline-element-content {
  padding: 1rem 2rem 4rem 2rem;
  box-shadow: 0 2px 5px rgb(0 0 0 / 8%), 0 1px 1px rgb(0 0 0 / 4%);
}

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  font-size: 2rem;
  width: 100%;
  left: 124%;
  top: 0px;
  color: #fff;
}

.vertical-timeline-element-icon {
  width: 6rem;
  height: 6rem;
}
@media screen and (max-width: 73.5rem) /* 1176/16 = 73.5rem*/ {
  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    color: black;
    left: 78%;
    font-size: 1.5rem;
    width: fit-content;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    display: flex;
    flex-direction: column;
  }
}

.vertical-timeline-element-icon {
  width: 4rem;
  height: 4rem;
}

.vertical-timeline-element-icon svg {
  height: 4rem;
  width: 4rem;
  display: block;
  height: 30;
  position: relative;
  left: 11%;
  top: 11%;
  margin-left: -12px;
  margin-top: -12px;
}

@media screen and (max-width: 73.5rem) /* 1176/16 = 73.5rem*/ {
  .vertical-timeline-element-icon svg {
    height: 2.4rem;
    width: 2.4rem;
    display: block;
    height: 30;
    position: relative;
    left: 16%;
    top: 13%;
    margin-left: -12px;
    margin-top: -12px;
  }
}

/*Circular Progress Bar Global Styles*/

@media screen and (max-width: 46.9rem) /* 750/16 = 46.9rem*/ {
  .Skills_circle__bar__X91I8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Skills_circle__bar__X91I8 svg {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Animated Button */

.section__four-CTA {
  display: flex;
  width: fit-content;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 0.75px solid var(--STROKEBOX, rgba(75, 64, 134, 0.41));
  /* background: linear-gradient(
    0deg,
    rgba(29, 23, 43, 0.42) -15.54%,
    rgba(29, 16, 57, 0.34) 12.46%,
    rgba(9, 4, 19, 0.74) 45.26%,
    rgba(113, 70, 214, 0) 226.56%
  ); */
  background-color: black;
  box-shadow: 0px 4px 4px 0px rgb(23 108 104 / 59%) inset;
  color: #02ffb7;
  align-self: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.animated__button {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  color: hsl(320, 40%, 40%);
  /* border-radius: 15px; */
  border: 0.65px solid #4d3e88;
  background: linear-gradient(
    0deg,
    #1d172b -15.54%,
    #0d0718 12.46%,
    #040207 45.26%,
    #7438ff 226.56%
  );
  padding: 13.5px 34.5px 14.5px 35.5px;
  /* border: 1px solid var(--STROKEBOX, rgba(75, 64, 134, 0.41)); */
  /* border: 0.65px solid #4d3e88; */
  border: 0.75px solid var(--STROKEBOX, rgba(75, 64, 134, 0.41));
  border-radius: 1.5rem;
  color: var(--Main-Text, #d6d5f1);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.glow-effect {
  --glow-line-color: #02ffb7;
  --glow-line-thickness: 1px;
  --glow-line-length: 20px;
  --glow-blur-color: #02ffb770;
  --glow-blur-size: 5px;
  --glow-offset: 0px;
  --animation-speed: 1200ms;
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  opacity: 0;
  /* outline: 3px solid blue; */
}

.glow-blur,
.glow-line {
  width: calc(100% - var(--container-offset) + var(--glow-offset));
  height: calc(100% - var(--container-offset) + var(--glow-offset));
  x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
  /* rx: 1.25rem; */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
  stroke-dashoffset: -80px;
  transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}

.glow-blur {
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
  animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.glow-effect[data-glow-animation="false"] {
  --glow-line-length: 50px;
}
.glow-effect[data-glow-offset="true"] {
  --glow-offset: 10px;
}

.glow-effect[data-glow-animation="grow"]:is(:hover, :focus) .glow-container {
  scale: 1.3;
  transition: scale var(--animation-speed) linear;
}

.inspiration {
  position: absolute;
  inset: auto 0 1.5rem;
  margin-inline: auto;
  text-align: center;
  font-size: 0.925rem;
  font-weight: 700;
  opacity: 0.75;
}

img {
  display: block;
  max-width: 100%;
}

.avatar {
  width: 18rem;
  border-radius: 50%;
}

.avatar img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: inherit;
}
