.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  /* margin-bottom: 3rem; */
}
.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav__item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  background-color: #484a4d;
  padding: 0.5rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
}

.icon__button:hover {
  filter: brightness(1.2);
}

.icon__button svg {
  /* fill: var(--text-color); */
  width: 3rem;
  height: 3rem;
}

.dropdown {
  position: absolute;
  top: 7.8rem;
  width: 300px;
  /* transform: translateX(-45%); */
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu__item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu__item:hover {
  background-color: #525357;
}

.icon__right {
  margin-left: auto;
}

.icon__right svg {
  width: 3rem;
  height: 3rem;
}

/* .menu__primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu__primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu__primary-exit {
  position: absolute;
}
.menu__primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu__secondary-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu__secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu__secondary-exit {
  position: absolute;
}
.menu__secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
} */
