.skill__container {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillGauge__andText {
  display: flex;
  flex-direction: column;
  background-color: turquoise;
  width: 75%;
  height: 75%;
}

.skill__containerText {
  background-color: lawngreen;
  width: fit-content;
}

.skill__containerText h1 {
  position: relative;
  font-size: 3vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
  width: fit-content;
  letter-spacing: 0.1rem;
}

.skill__containerText .animated__class::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: greenyellow;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid blue;
  overflow: hidden;
  font-size: 3vw;
  text-transform: uppercase;
  animation: var(--text-animation) 2s linear;
}

.skill__containerText p {
  font-size: 2rem;
}

.skill__circlesCon {
  width: 100%;
  height: 90%;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle__bar:not(:last-child) {
  margin-right: 6rem;
}
