.project__description {
  border-radius: 0.4rem;
  text-align: center;
  word-wrap: break-word;
  width: 20%;
  z-index: 2;
  position: absolute;
  padding: 1.5rem;
}

.project__descriptionText {
  font-size: 1.5rem;
}

.image {
  margin: auto;
  display: flex;
  z-index: 7;
}

.project {
  position: relative;
  border-radius: 2rem;
  margin-right: 2rem;
}

.image__component {
  border-radius: 0.4rem;
}

.image .tech__logoOne svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 4;
  top: -4%;
  left: 90%;
  right: 0;
  background-color: rgb(97, 218, 251);
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smooth-zigzag-3 5s linear infinite;
}
.image .tech__logoTwo svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 4;
  top: 94%;
  left: 57%;
  right: 0;
  background-color: rgb(227, 76, 38);
  fill: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smooth-zigzag-2 5s linear infinite;
}
.image .tech__logoTwoFire svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 4;
  top: 94%;
  left: 57%;
  right: 0;
  background-color: #ffa611;
  fill: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smooth-zigzag-2 5s linear infinite;
}
.image .tech__logoThree svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: -6%;
  right: 0;
  fill: #fff;
  background-color: rgb(240, 219, 79);
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smooth-zigzag-1 5s linear infinite;
}
.image .tech__logoThreeRedux svg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: -6%;
  right: 0;
  fill: #fff;
  background-color: #764abc;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: smooth-zigzag-1 5s linear infinite;
}

@keyframes smooth-zigzag-1 {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  75% {
    transform: translate(10px, -5px);
  }
}

@keyframes smooth-zigzag-2 {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(-5px, -5px);
  }
  75% {
    transform: translate(-10px, 5px);
  }
}

@keyframes smooth-zigzag-3 {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(-7px, -7px);
  }
  50% {
    transform: translate(-14px, -14px);
  }
  75% {
    transform: translate(-7px, -7px);
  }
}

@media screen and (max-width: 63.75rem) {
  .image {
    flex-direction: column;
  }

  .project {
    margin: 5rem 0 0 0;
  }
}
@media screen and (max-width: 56.25rem) /* 900/16 = 56.25rem*/ {
  .image .tech__logoOne svg {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
  }

  .image .tech__logoTwo svg {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
  }

  .image .tech__logoTwoFire svg {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
  }

  .image .tech__logoThree svg {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
  }

  .image .tech__logoThreeRedux svg {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
  }
}
